# Ignore everything
/*

# But not these files...
!/.bash_profile
!/.bashrc
!/.git-completion.bash
!/.gitconfig
!/.githelpers
!/.gitignore
!/.gitmodules
!/.profile
!/README.md

# And not these subdirectories.
!/.bash-git-prompt/
!/.vim/
!/.fzf/

# But do ignore these filetypes
.netrwhist
