# Ignore everything
/*

# But not these files...
!/.bash_profile
!/.git-completion.bash
!/.gitconfig
!/.gitignore
!/.gitmodules
!/README.md

# And not this subdirectory.
!/.vim/

# But do ignore these filetypes
.netrwhist
